@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

html *
{
   font-family: 'Ubuntu', sans-serif !important;
}

.bottom {
background-color: rgba(211, 211, 211, 0.739);
}

.jumbotron {
    /*background-color: lightgreen;*/
    background-color: green;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    from {
      background-color: green;
    }

    to {
      background-color: greenyellow;
    }
  }

  /* Standard syntax */
  @keyframes example {
    from {
      background-color: green;
    }

    to {
      background-color: greenyellow;
    }
  }

  h1,
  h2 {
    -webkit-animation: color-change 8s infinite;
    -moz-animation: color-change 8s infinite;
    -o-animation: color-change 8s infinite;
    -ms-animation: color-change 8s infinite;
    animation: color-change 8s infinite;
  }

  @-webkit-keyframes color-change {
    0% {
      color: black;
    }

    50% {
      color: white;
    }

    100% {
      color: black;
    }
  }

  @-moz-keyframes color-change {
    0% {
      color: black;
    }

    50% {
      color: white;
    }

    100% {
      color: black;
    }
  }

  @-ms-keyframes color-change {
    0% {
      color: black;
    }

    50% {
      color: white;
    }

    100% {
      color: black;
    }
  }

  @-o-keyframes color-change {
    0% {
      color: black;
    }

    50% {
      color: white;
    }

    100% {
      color: black;
    }
  }

  @keyframes color-change {
    0% {
      color: black;
    }

    50% {
      color: white;
    }

    100% {
      color: black;
    }
  }

  .row {
    margin-right: inherit;
    margin-left: inherit;
  }

  .carousel-inner {
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-bottom: 10px;
    border-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
  }