
body{
    background-image: url("img/maisIreland.jpg");
    background-size: 100% 100%;
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}
h1 {
    color: rgb(30, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2 {
    color: rgb(255, 153, 0);
    font-family: 'Times New Roman', Times, serif;
    /*text-shadow: 0.1em 0.1em #000000;*/
}
h1.header {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
td, th, p {
    color: rgb(0, 255, 34);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

table, td, th {
    border: 0.1em solid black;
    border-collapse: collapse;
    background: rgba(119, 128, 0, 0.3);
}

#main {
    display: flex;
}
#info, #populationarea, #flag, #cities
{
    width: 33%;
    height: auto;
    background-color: rgba(143, 143, 143, 0.5);
    border: 0.1em solid rgba(0, 0, 0, 0.01);
    border-radius: 2em;
    padding: 1em;
    margin: 2em;
}

#nature
{
    width: 95%;
    height: auto;
    background-color: rgba(255, 102, 0, 0.5);
    border: 0.1em solid rgba(0, 0, 0, 0.01);
    border-radius: 2em;
    padding: 1em;
    margin: 2em;

}

.poparea
{    
    list-style-type: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#header {
    background-color: rgba(0, 255, 42, 0.5);
    border: 0.1em solid rgba(0, 0, 0, 0.01);
    border-radius: 2em;
    padding: 0.1em 1em;
    margin: 2em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.navbutton {
    display:inline-block;
    padding: 1em 3em;
    background-color: pink;
    margin: 2.5em;
    border: 0.1em solid rgba(0, 0, 0, 0.01);
    border-radius: 2em;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbutton:hover, .navbutton:active {
    background-color: red;
}